body {
    background-color:#fff;
    color: #2a2a2a;
}


.box::before {
    content: 'Это текст в ::before';
    font-size: 40px;
    color: orange;
}

.box::after {
    content: 'Это текст в ::after';
    font-size: 30px;
    color: teal;
}